.header,
.title,
.description-text {
  text-align: center;
}

.recipe-image {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 30%;
  border-style: double;
}

ul,
ol {
  display: table;
  margin: 0 auto;
  border-style: double;
}

li {
  margin: 10px;
  margin-right: 30px;
}

body {
  background-color: antiquewhite;
}

p.description-text,
ol.steps-list {
  width: 600px;
  margin: 0 auto;
}
